
/* 全ページに適応されるcss */

body {
    font-family: 'Century Gothic';
    background-color: #F7F2ED;
    
}
.btn {
    width: auto;
}

footer{

   text-align: center;
   background-color: transparent;
   
   width: 100%;
   bottom: 0;
}

