.details ul {
list-style: none;
top: 0;
height: 40%;
margin: 0;
padding: 0;
text-align: center;
margin-top: 2%;
margin-left: 15%;
}
.details ul li,
.details ul li dl {
width: 100px;
height: 70px;
}
.details ul {
letter-spacing: -1em;
}
.details ul li {
display: inline-block;
position: relative;
overflow: hidden;
margin-left:2.5%;
margin-right:2.5%;
letter-spacing: 0;
}
.details ul dl {
position: absolute;
top: 0;
margin: 0;
padding: 10px 2px 0px 2px;
box-sizing: border-box;
color: #fff;
background: rgba(205,92,92,.9);
}
.details ul dl dt {
margin-bottom: 0.3em;
}
.details ul dl dd {
margin: 0;
font-size: 100%;
line-height: 1.6;
text-align: center;
word-break: break-all;
}
.details ul a {
padding: 0.3em 0.5em;
background-color: transparent;
color: white;
}
/* type1 */
.type1 {
    margin-left:30%;
    margin-right:30%;
}
.type1 dl {
opacity: 0;
-webkit-transform: translateY(100%);
transform: translateY(100%);
-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
transition: opacity 0.6s, transform 0.6s;
}

.type1:hover dl {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
}
/* type2 */
.type2 {
overflow: visible;
-webkit-perspective: 1000px;
perspective: 1000px;
}
.type2 img,
.type2 dl {
-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
transition: opacity 0.6s, transform 0.6s;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.type2:hover img {
-webkit-transform: rotateX(180deg);
transform: rotateX(180deg);
}
.type2 dl {
background-color: #cd5c5c;
-webkit-transform: rotateX(-180deg);
transform: rotateX(-180deg);
}
.type2:hover dl {
-webkit-transform: rotateX(0);
transform: rotateX(0);
}
/* type3 */
.type3 dl {
background-color: transparent;
}
.type3 dl dt,
.type3 dl dd {
position: relative;
z-index: 1;
opacity: 0;
transition: opacity 0.3s;
}
.type3:hover dl dt,
.type3:hover dl dd {
opacity: 1;
transition-delay: 0.3s;
}
.type3 dl::before,
.type3 dl::after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100px;
height: 180px;
background: #cd5c5c;
opacity: 0;
-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
transition: opacity 0.6s, transform 0.6s;
}
.type3:hover dl::before,
.type3:hover dl::after {
opacity: 0.9;
transition-duration: 0.3s;
}
.type3 dl::before {
-webkit-transform: translateX(-175px) skew(-30deg);
transform: translateX(-175px) skew(-30deg);
}
.type3 dl::after {
-webkit-transform: translateX(275px) skew(-30deg);
transform: translateX(275px) skew(-30deg);
}
.type3:hover dl::before {
-webkit-transform: translateX(0) skew(0);
transform: translateX(0) skew(0);
}
.type3:hover dl::after {
-webkit-transform: translateX(100px) skew(0);
transform: translateX(100px) skew(0);
}