.media{
    background-color: white;
    padding: 1.2%;
    border: solid 1px;
    border-radius: 5px;
    border-color: black;
}


    
.fukidashi1{
	position: relative;
	display: inline-block;
	margin: 1.5em 15px 1.5em 0;
	padding: 0 5px;
 	width: 90px;
	height: 90px;
	line-height: 90px;
	vertical-align: middle;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	background: #ff8e9d;
	border-radius: 50%;
	box-sizing: border-box;
}

.fukidashi1:before{
	content: "";
	position: absolute;
	top: 50%;
	right: -25px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-left: 15px solid #ff8e9d;
	z-index: 0;
}


.fukidashi2 {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 0 5px;
	width: 90px;
	height: 90px;
	line-height: 90px;
	vertical-align: middle;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	background: #ffcc75;
	border-radius: 50%;
	box-sizing: border-box;
}

.fukidashi2:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -25px;
  	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #ffcc75;
 	z-index: 0;
}

